.container{
    display:grid;
    grid-template-columns:700px 100px;
  }
  header{
    background-color:#f4f4f4;
    color:#8ca3a3;
  }
  aside{
    border-left: 1px solid gray  ;
    background-color:#f4f4f4;
  }
  ul{
    list-style-type: none;
    padding:5px
  }
  a{
    color:#8ca3a3;
    text-decoration:none;
    background-color: #e0e2e4;
  }
  li{
    margin:10px;
  }
  h2{
    color:#5E686D;
    background-color:#A9BFA8;
  }